body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
.description {
  padding: 5px;
  vertical-align: middle;
  align-items: center;
}

.time-block {
  border-radius: 15px;
}

#alert-message {
  text-align: center;
  padding-bottom: 10px;
}

.message {
  display: inline-block;
}

.icon {
  color: #309167;
}

.local-storage {
  color: #a83838;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: center;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #70bb70;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.container-md {
  text-align: center;
}

.clear-button {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: 50%;
}

.clear-button i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 765px) {
  .saveBtn {
    border-radius: 10px;
    margin: 5px 0;
  }

  .future {
    border-radius: 10px;
  }

  .clear-button {
    width: 75%;
  }
}